/* *{
    background-color: lightgrey;
} */
.header{
 display: flex;
 align-items: center;
 justify-content: space-between;
 height: 100px;
}
.logo{
margin-left: 40px;
}
.main-menu{
    margin-right: 40px;
    
}
.links{
    display: flex;
    gap: 20px;
}
.links li{
  display: inline;
  margin: 10px;
}
.links li a{
    text-decoration: none;
    color: #222; 
    font-size: 20px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}
.links li a:hover{
color: #dab831;

}
.main{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.main-image{
width: 97%;
height: auto;
object-fit: cover;
}
.overlay{
 background: transparent;
 position: absolute;
  top: 30%;         
  left: 50%;            
  transform: translateX(-50%); 
  text-align: center;
}
.overlay h1{
    background: transparent;
  font-family: "Arial Black", "Helvetica", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  color: white;
  letter-spacing: 35px;
}
.overlay h2{
  background: transparent;
  font-family: "Georgia", "Times New Roman", serif;
font-size: 1.5rem;
  font-style: italic;
  font-weight: 400;
  color: white;
  margin-bottom: 10px;
  letter-spacing: 1px;
}
.overlay-image{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: transparent;
    display: flex;
    justify-content: center;
}
.overlay-pic{
    background: transparent;
    width: 90%;
    height: auto;
}

.section {
  width: 100%;
  height: 100%;
      display: flex;
      margin-top: 10%;

    }

    .left {
width: 46%; 
height: 60%;
margin-right: 4%;

}

    .left h3 {
      margin: 0;
      text-align: right;
      font-size: 2.1rem;
      line-height: 40px;  
      font-family: "Poppins", Helvetica, Arial, sans-serif;
          
              }
    
    

    .middle {
      display: flex;
      flex-direction: column;
      /* align-items: center;  */
      width: 25%; 
      height: 60%;
      height: auto; 
 }

    .play-button {
      width: 30%;
      height: auto;
      cursor: pointer;
    }

   .play-image{
    width: 100%;
    height: auto;
   }

    .middle p {
font-family: "Crimson Text";      font-size: 1rem;
      font-style: italic;
      line-height: 1.6;
      text-align: left;
      font-size: 19px;
      margin-top: 17%;
    }

    .right {
width: 25%;      
font-size: 0.95rem;
      line-height: 1.7;
      color: #444;
      
    }
    .right p {
      margin-top: 48.5%;
color : #707075;
font-size: 16px;
    }

    .events {
  width: 100%;
  text-align: center;
  margin-top: 7%;
}

.events-title {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 3px;
  margin-bottom: 40px;
  font-family: Arial, Helvetica, sans-serif;
}

.events-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.event-card {
  width: 23%;
  text-align: left;
}

.event-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.event-date {
  color: #888;
  font-size: 1em;
  margin-top: 5;
  margin-bottom: 0;
}

.event-card h3 {
  font-size: 1.6em;
  font-weight: 700;
  color: #111;
  margin-top: 4px;
}
.more-section {
  margin-top: 40px;
  text-align: center;
}

.more-btn {
  background-color: #f9c357; 
  color: white;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  padding: 12px 30px;
  cursor: pointer;
  border-radius: 2px;
}

.more-btn:hover {
  background-color: #e0a93d;
}

.events-line {
  margin-top: 30px;
  border: none;
  border-top: 1px solid #ccc;
  width: 95%;
}
